body {
  margin: 2.5em 3em;
  padding: 0;
  background: #fff;
  color: #333;
  font: 100%/1.5 Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

td {
  vertical-align: top;
  font-size: 75%;
}

.error {
  color: red;
}