<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Crazy Ivan: CI straight up.</title>
    
    <link rel="stylesheet" href="css/ci.css" type="text/css" charset="utf-8">
    <script type="text/javascript" src="javascript/prototype.js"></script>
    <script type="text/javascript" src="javascript/json-template.js"></script>
    <script type="text/javascript">
      var init = function() {
        render('index.jsont', projects());
      }
      
      var projects = function() {
        var projects = [];
        var project_names = [];
        
        new Ajax.Request('projects.json', {
          asynchronous: false,
          onSuccess: function(transport) {
            project_names = transport.responseText.evalJSON().projects;
          }
        });
        
        project_names.each(function(project_name) {
          var reports = [];
          
          reports = recent_versions(project_name).map(function(version) {
            return version_test_report(project_name, version);
          })
          
          project = {name: project_name, reports: reports};
          projects.push(project);
        })
        
        return {"projects": projects};
      }
      
      var recent_versions = function(project) {
        var recent_versions = [];
        new Ajax.Request(project + '/recent.json', {
          asynchronous: false,
          onSuccess: function(transport) {
            recent_versions = transport.responseText.evalJSON().recent_versions;
          }
        });
        return recent_versions;
      }
      
      var version_test_report = function(project, version) {
        var report = {};
        url = project + '/' + version + '.json';
        
        new Ajax.Request(url, {
          asynchronous: false,
          onSuccess: function(transport) {
            report = transport.responseText.evalJSON();
          }
        });
        return report;
      }
      
      var expand = function(element) {
        element.siblings().invoke('show');
        element.remove();
      }
      
      var render = function(template_name, json) {
        var template = jsontemplate.Template("                                             \
          {.section projects}                                                              \
            {.repeated section @}                                                          \
              <div class='project'>                                                        \
                <h2>{name}</h2>                                                            \
                {.section reports}                                                         \
                  <table class='reports'>                                                  \
                    <tr>                                                                   \
                      <th class='timestamp'>Timestamp</th>                                 \
                      <th class='version'>Version</th>                                     \
                      <th class='update'>Update Result</th>                                \
                      <th class='test'>Test Result</th>                                    \
                    </tr>                                                                  \
                    {.repeated section @}                                                  \
                      <tr>                                                                 \
                        <td class='timestamp'>{timestamp}</td>                             \
                        <td class='version'>{version}</td>                                 \
                        <td class='update'>                                                \
                          <pre>{update}</pre>                                              \
                          {.section update_error}                                          \
                            <div class='error'><pre>{update_error}<pre></div>              \
                          {.end}                                                           \
                        </td>                                                              \
                        <td class='test'>                                                  \
                          <pre>{test}</pre>                                                \
                          {.section test_error}                                            \
                            <a href='#' onclick='expand(this)'>Click to see error</a>      \
                            <div class='error' style='display: hidden'>                    \
                              <pre>{test_error}<pre>                                       \
                            </div>                                                         \
                          {.end}                                                           \
                        </td>                                                              \
                      </tr>                                                                \
                    {.end}                                                                 \
                  </table>                                                                 \
                {.or}                                                                      \
                  <p>No test reports found. Please run the `ci` executable.</p>            \
                {.end}                                                                     \
              {.end}                                                                       \
            </div>                                                                         \
          {.or}                                                                            \
            <p>No projects found.</p>                                                      \
          {.end}                                                                           \
        ");
        
        var html = template.expand(json);
        $("replace").update(html);
        
        // Hide all errors by default
        $$('.error').invoke('hide');
        
        $$('.project').each(function(project) {
          var firstResultsError = project.down('td.test').down('.error')
          
          // When the latest test result has an error (i.e. the project is broken)
          if(firstResultsError) {
            project.down('h2').addClassName('error');
            
            firstResultsError.show();
            firstResultsError.adjacent('a')[0].onclick();
          }
        });
      }
    </script>
  </head>
  <body onload="init();">
    <div id="replace"></div>
  </body>
</html>