<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Crazy Ivan: CI straight up.</title>
    
    <link rel="stylesheet" href="css/ci.css" type="text/css" charset="utf-8">
    <script type="text/javascript" src="javascript/prototype.js"></script>
    <script type="text/javascript" src="javascript/json-template.js"></script>
    <script type="text/javascript">
      var init = function() {
        render('index.jsont', projects());
      }
      
      var projects = function() {
        var projects = [];
        var project_names = [];
        
        new Ajax.Request('projects.json', {
          asynchronous: false,
          onSuccess: function(transport) {
            project_names = transport.responseText.evalJSON().projects;
          }
        });
        
        project_names.each(function(project_name) {
          var reports = [];
          
          reports = recent_versions(project_name).map(function(version) {
            return version_test_report(project_name, version);
          })
          
          project = {name: project_name, reports: reports};
          projects.push(project);
        })
        
        return {"projects": projects};
      }
      
      var recent_versions = function(project) {
        var recent_versions = [];
        new Ajax.Request(project + '/recent.json', {
          asynchronous: false,
          onSuccess: function(transport) {
            recent_versions = transport.responseText.evalJSON().recent_versions;
          }
        });
        return recent_versions;
      }
      
      var version_test_report = function(project, version) {
        var report = {};
        url = project + '/' + version + '.json';
        
        new Ajax.Request(url, {
          asynchronous: false,
          onSuccess: function(transport) {
            report = transport.responseText.evalJSON();
          }
        });
        return report;
      }
      
      var render = function(template_name, json) {
        var template = jsontemplate.Template("                                             \
          {.section projects}                                                              \
            {.repeated section @}                                                          \
              <h2>{name}</h2>                                                              \
              {.section reports}                                                           \
                <table>                                                                    \
                  <tr>                                                                     \
                    <th>Version</th>                                                       \
                    <th>Update Result</th>                                                 \
                    <th>Update Errors</th>                                                 \
                    <th>Test Result</th>                                                   \
                    <th>Test Errors</th>                                                   \
                  </tr>                                                                    \
                  {.repeated section @}                                                    \
                    <tr>                                                                   \
                      <td>{version}</td>                                                   \
                      <td>{update}</td>                                                    \
                      <td>{update_error}</td>                                              \
                      <td>{test}</td>                                                      \
                      <td>{test_error}</td>                                                \
                    </tr>                                                                  \
                  {.end}                                                                   \
                </table>                                                                   \
              {.or}                                                                        \
                <p>No test reports found. Please run the `ci` executable.</p>              \
              {.end}                                                                       \
            {.end}                                                                         \
          {.or}                                                                            \
            <p>No projects found.</p>                                                      \
          {.end}                                                                           \
        ");
        
        var html = template.expand(json);
        $("replace").update(html);
      }
    </script>
  </head>
  <body onload="init();">
    <div id="replace"></div>
  </body>
</html>